.div-style{
    background-color: darkorange;
    padding: 20px 5px;
    margin: 10px 5px;
    box-shadow: 2px 2px 1px;
    border: 5px;
    box-sizing: border-box;

}
h2{
    color: blue;
}
h2:hover{
    color: darkorange;
}
